body {

  font-family: "Times New Roman", Times, serif;
  background-color: black;

}
img{
height: inherit;
object-fit: cover;

}

#height{
  height: inherit;
padding: none;
margin: none;
}


#TitleLogo{
  z-index: 5;
  position: fixed;
  top: 3vh;
  left: auto;
  height:20vh;
  width: auto;
  transition: 0.3s ;
}
