body {
  display: inline-block;
  background-repeat: no-repeat;
  font-family: "Times New Roman", Times, serif;
  margin: 20px;
  background-color: black;

}
img{


}
#everything{
width:100%;
}

h2{
font-size:300px;
}

a, a:active, a:visited {
text-decoration: none;
color:red;
}
ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}


.game-info {
  margin-left: 20px;
}
#centerDiv{
	position:fixed;
	top:5vh;
	left:5vw;
	z-index:2;
	background-color: black;
	display: flex;
}

#mainImage{
position:fixed;
top:5vh;
left:10vw;
z-index:2;
align:center;
 max-width:600px;
 width:auto;
min-width:250px;
 height-max:60%;

 margin-left: auto;
 margin-right:auto;
}
#secondImage{
position: fixed;
top:5vh;
left:50vw;
z-index:2;
align:center;
width:600px;
height: auto;
height-max:60%;
}
#mImageDesc {
position:fixed;
top:45vh;
left:6.37vw;
z-index:3;
opacity:80%;
	color:#000000;
padding-left:0.75vw;
padding-right:0.75vw;
padding-top:0.5vh;
padding-bottom:0.5vh;
}
#sImageDesc {
position:fixed;
top:25vh;
left:40vw;
z-index:3;
opacity:80%;
padding-left:0.75vw;
padding-right:0.75vw;
padding-top:0.5vh;
padding-bottom:0.5vh;
}
