body {
  font-family: 'Courier New', monospace;


  background-color: #d8e8ef;
  transition: 5s ;

}
img{
height: inherit;
object-fit: cover;

}

#height{
  height: inherit;
padding: none;
margin: none;
list-style: none;
}


#TitleLogo{
  z-index: 5;
  position: fixed;
  top: 3vh;
  left: auto;
  height:20vh;
  width: auto;
  transition: 0.3s ;
}
#footer{
  z-index: 5;
  text-align: center;
  position: fixed;
  top: 95vh;
  left: auto;
  width: 100%;
  font-size: 9pt;
  opacity: 0%;
  color: #F0C0C9;
  transition: 1s;
}
#EOP{
  opacity: 0%;
  position: absolute;
  top: 24600;
}
